.container.menu{
    height: 100%;
    width: 100%;
    background-color: #303030;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;

    z-index: 999;
}

.TasksContainer{
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding: 15px 0;
    position: relative;
}

.TasksContainer::after{
    content: '';

    position: absolute;
    height: 100%;
    width: 20px;
    left: auto;
    right: 0;
    z-index: 9999;
    background: linear-gradient(270deg,rgba(48, 48, 48, 1) 0%, rgba(48, 48, 48, 0) 100%);
}