.container.pageButton {
    width: 100%;
    height: 60px;
    position: relative;
    padding: 0;

    container-type: inline-size;
}

.pageContainer {
    height: 98%;
    width: 98%;
    margin: auto;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: left;
    gap: 15px;
    padding: 0 22px 0 15px;
    box-sizing: border-box;

    transition: .4s ease;

    overflow: hidden;
}

.page_info {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    white-space: nowrap;
    transition:
        opacity .1s ease,
        transform .1s ease,
        width .1s ease,
        margin .1s ease;
}

.page_info .header {
    font-size: 1.1rem;
    opacity: .6;
    font-weight: 400;
}

.page_info .description {
    font-size: .8rem;
    opacity: .3;
    overflow:hidden; 
    white-space:nowrap; 
    text-overflow: ellipsis;
}

.pageContainer img {
    height: 38%;
    aspect-ratio: 1/1;
    opacity: .3;

    transition: .2s ease;
}

.pageContainer:hover{
    background-color: #373737;
    border-radius: 20px;
}

.pageContainer:hover img{
    opacity: 1;
    filter: invert(41%) sepia(16%) saturate(2014%) hue-rotate(189deg) brightness(101%) contrast(85%);
}

.pageContainer:hover .header{
    opacity: 1;
}

.pageContainer:hover .description{
    opacity: .6;
}



@container (max-width: 120px) {
    .page_info {
        opacity: 0;
        transform: translateX(-10px);
        width: 0;
        margin: 0;
    }
}

@container (max-width: 80px) {
    .pageContainer{
        justify-content: center;
        align-items: center;
        padding: 0;
    }
    
    .page_info{
        width: 0 !important;
        display: none;
    }
}