.container.account {
    width: 100%;
    height: 70px;
    position: relative;
    padding: 0;

    container-type: inline-size;
}

.profile_container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 5px 5px 15px;
    box-sizing: border-box;
}

.profile {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0;
    gap: 6px;
}

.profile img {
    height: 70%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    transition: .25s ease;
    /* fade + slide */
    transition:
        opacity .1s ease,
        transform .1s ease,
        width .1s ease,
        margin .1s ease;
}

.profile_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: .25s ease;
    white-space: nowrap;
    transition:
        opacity .1s ease,
        transform .1s ease,
        width .1s ease,
        margin .1s ease;
}

.profile_info .name {
    font-size: 1.1rem;
    opacity: .6;
    font-weight: 600;
}

.profile_info .status {
    font-size: .6rem;
    opacity: .3;
}

.settings {
    height: 100%;
    transition: .1s ease;
}

.settings button {
    height: 100%;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background: none;
    transition: .2s ease;
}

.settings button img {
    height: 38%;
    opacity: .3;
}

.settings button:hover {
    background-color: rgba(255,255,255,.05);
    scale: .9;
}

.settings button:hover img {
    opacity: 1;
}

.container.account hr {
    width: 95%;
    position: absolute;
    bottom: 0;
    margin: 0;
    left: 2.5%;
    border: 1px solid rgba(255,255,255,.05);
    border-radius: 15px;
}


@container (max-width: 300px) {
    .profile img {
        opacity: 0;
        transform: translateX(-10px);
        width: 0;
        margin: 0;
    }
}

@container (max-width: 250px) {
    .profile_info {
        opacity: 0;
        transform: translateX(-10px);
        width: 0;
        margin: 0;
    }
}

@container (max-width: 80px) {
    .profile {
        display: none;
    }

    .profile_container {
        justify-content: center;
    }
}