div.container.account{
    width: 100%;
    height: 60px;
    position: relative;
    padding: 0;
}

.container.account hr{
    width: 95%;
    position: absolute;
    margin: 0;
    padding: 0;
    top: auto;
    bottom: 0;
    left: 2.5%;
    right: 2.5%;
    border-radius: 15px;
    border: solid 1px rgba(255, 255, 255, 0.05);
}