:root{
    --user-message: rgba(255, 255, 255, .05);
    --bot-message: rgba(255, 255, 255, .1);
}

.chatContainer{
    width: 100%;
    height: 100svh;
    max-width: 800px;
    margin: auto auto;
    display: flex;
    justify-content: center;
}

.chat{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 3px;
    width: 100%;
    height: calc(100% - 60px);
    min-height: calc(99svh - 60px);
    overflow-y: scroll;
    box-sizing: border-box;
    padding: 10px;
}

.chat::-webkit-scrollbar{
    display: none;
}

.messageContainer{
    position: relative;
    width: fit-content;
    max-width: 40%;
    box-sizing: border-box;
    padding: 5px 10px 5px 45px;
    border-radius: 5px;
    display: flex;
}

.messageTime{
    position: absolute;
    opacity: 45%;
    scale: .8;
}

.messageContent{
    width: 100%;
    text-wrap: wrap;
    white-space: pre-line;
    word-break: break-word;
}


.messageContainer.user > .messageTime{
    left: 0;
    right: auto;
    bottom: 0;
    top: auto;
}

.messageContainer.user{
    justify-content: right;
    margin: 0 0 0 auto;

    background-color: var(--user-message);
}

form{
    display: grid;
    grid-template-columns: 80% 55px;
    justify-content: space-between;
    position: fixed;
    top: auto;
    bottom: 10px;
    width: 450px;
    height: fit-content;
    box-sizing: border-box;
    background-color: #303030;
    border-radius: 5px;
    overflow: hidden;
    z-index: 999;
}

form textarea{
    position: relative;
    width: 100%;
    padding: 4px 8px;
    margin: 0;
    min-height: px;
    max-height: 150px;
    resize: none;
    background: none;
}

textarea::-webkit-scrollbar{
    display: none;
}

form textarea:active, form textarea:hover, form textarea:focus, textarea{
    outline: none;
    border: none;
}

form button{
    background: var(--user-message);
    box-sizing: border-box;
    padding: 0;
    width: 80%;
    margin: auto 2px 0 auto;
    aspect-ratio: 1/1;
    border-radius: 5px;
}

form button:active, form button:hover, form button:focus, button{
    outline: none;
    border: none;
}

form button img{
    width: 40%;
    object-fit: cover;
    position: relative;
}