:root{
    --user-message: rgba(255, 255, 255, .05);
}

.chatContainer{
    width: 100%;
    height: 100svh;
    max-width: 800px;
    margin: auto auto;
    display: flex;
    justify-content: center;
}

.chat{
    position: relative;
    overflow-y: scroll;
    flex-direction: column;
    justify-content: end;
    width: 55svw;
    max-width: 800px;
    height: calc(100% - var(--input-height));
    /* min-height: calc(99svh - 60px); */
    overflow-y: scroll;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
    font-weight: 400;
}

.chat::-webkit-scrollbar{
    display: none;
}

.messageContainer{
    position: relative;
    width: fit-content;
    max-width: 80%;
    box-sizing: border-box;
    border-radius: 15px;
    display: flex;
    z-index: 100;
    cursor: text;
    pointer-events: all;
    user-select: text;
}

.messageContainer.user{
    padding: 5px 10px 5px 45px;
    border-bottom-right-radius: 5px;
    /* text-align: right; */
}

.messageTime{
    position: absolute;
    opacity: 45%;
    scale: .8;
}

.messageContent{
    width: 100%;
    text-wrap: wrap;
    white-space: pre-line;
    word-break: break-word;
}

.messageContainer.user > .messageTime{
    left: 2px;
    right: auto;
    bottom: 2px;
    top: auto;
}

.messageContainer.assistant{
    padding: 5px 45px 5px 10px;
}

.messageContainer.assistant{
    justify-content: start;
    margin: 55px auto 55px 0;
}

.messageContainer.assistant > .messageTime{
    display: none;
}

.messageContainer.user{
    justify-content: right;
    margin: 55px 0 55px auto;

    background-color: var(--user-message);
}

form{
    display: grid;
    grid-template-columns: 75% 60px;
    padding: 5px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: auto;
    bottom: 25px;
    width: 55svw;
    max-width: 800px;
    height: fit-content;
    box-sizing: border-box;
    background-color: #303030;
    border-radius: 5px;
    overflow: hidden;
    z-index: 9999;
    box-shadow: 0px -15px 15px 0px #262626;
    border-radius: 25px;
}

form textarea{
    position: relative;
    width: 100%;
    padding: 3px 12px;
    margin: 0;
    min-height: 0;
    max-height: 150px;
    resize: none;
    background: none;
    font-size: 17px;
}

textarea::-webkit-scrollbar{
    display: none;
}

form textarea:active, form textarea:hover, form textarea:focus, textarea{
    outline: none;
    border: none;
}

form button{
    /* background: var(--user-message); */
    background: none;
    box-sizing: border-box;
    padding: 0;
    width: 100%;
    height: 50px;
    margin: auto auto 0 auto;
    border-radius: 20px;
    
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;

    transition: .2s ease;
}

form button:active, form button:focus, button{
    outline: none;
    border: none;
}

form button:hover{
    scale: 1.2;
    background-color: var(--user-message);
}

form button img{
    width: 37%;
    object-fit: cover;
    position: relative;
}

form button.mic_listening{
    animation: pulse_listening_borders 2.3s infinite cubic-bezier(.1,.76,.37,1.15);
    z-index: 5;
}

form button.mic_listening:hover{
    scale: 1.2;
    background-color: #CF3434;
    animation: none;
}

form button.mic_listening::before {
    content: "";
    position: absolute;
    width: 250%;
    height: 250%;
    border-radius: 50%;
    background: radial-gradient(circle, #566EC345 0%, #566EC300 100%);
    opacity: 0;
    z-index: -1;
    animation: pulse_listening_around 2.3s infinite ease;
}

form button.mic_listening:hover::before {
    scale: 1.2;
    background: none;
    background-color: #CF343455;
    opacity: 1;
    animation: none;
}

form button.txt_waiting:hover{
    scale: 1.2;
    background-color: #CF3434;
}

form button.txt_waiting::before {
    content: "";
    position: absolute;
    width: 60svw;
    height: 30svw;
    border-radius: 50%;
    background: radial-gradient(circle, #aaaaaa15 0%, #c2c2c200 100%);
    opacity: 0;
    z-index: -1;
    animation: pulse_listening_around 2.3s infinite ease;
}

@keyframes pulse_listening_around{
    0%, 100% { opacity: 0; }
    50% { opacity: 1; }
}

@keyframes pulse_listening_borders {
    0%, 100%{  
        scale: 1;
        background-color: none;
    }
    50%{  
        scale: 1.2;
        background-color: #566EC320;
    }
}