:root{
    --separator-color: rgba(255, 255, 255, 0.15);
}

.separator{
    width: 3px;
    padding: 0;
    height: 80px;
    border: none;
    margin: auto;
    background-color: var(--separator-color);
    border-radius: 5px;
}