:root{
  max-width: 1400px;
}

html{
  padding: 0;
}

body{
  padding: 0;
}

.appContainer{
  width: 100svw;
  height: 100svh;
  display: grid;
  grid-template-columns: 1fr 5px 1fr;
  align-items: center;
  gap: 1px;
  box-sizing: border-box;
}

.menuCont{
  background-color: red;
  height: 100%;
}

.interfaceCont{
  background-color: blue;
  height: 100%;
}