:root{
  max-width: 1400px;
}

html{
  padding: 0;
}

body{
  padding: 0;
}

.container.app{
  width: 100svw;
  height: 100svh;
  display: grid;
  grid-template-columns: 40% 5px 60%;
  align-items: center;
  gap: 1px;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}

.menuCont{
  height: 100%;
}

.interfaceCont{
  height: 100%;
  width: 100%;
}

.appSubContainer{
  flex-wrap: wrap;
  display: flex;
}

@media screen {
  
}